typings/**
test/**
src/**
**/*.map
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webpack.config.js

.vscode/**
.vscode-test/**
internal/
node_modules
out/test/**
out-test
.dockerignore
.env
.eslintrc.json
.gitignore
.npmrc
.tmp.env.sample
Dockerfile*
entrypoint*.sh
glob-copy*
how-to.md
mocharc.json
ocibuild.conf
tsconfig*.json
